body{
    margin: 0;
    padding: 0;
}
.rect{
    height: 90px;
    width: 120px;
    background-color: black;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 45px;
}
.main{
    margin-left: 500px;
    margin-top: 250px;
}
.buttons{
    display: flex;
    flex-direction: row;
    background-color: none;
    color: grey;
    gap:20px;
    margin-left: -50px;
    button{

        border-radius: 20px;
        background-color: white;
        border-width: 2px;
        height: 50px;
        width: 70px;
    }
}
.count{
    margin-left: 85px;
}